:root {
  /* Backgrounds */
  --color-bg-light: #ddf3fa;
  --color-white: #ffffff;

  /* Primary Brand Colors */
  --color-primary: #04acec;      /* Primary CTA */
  --color-primary-dark: #048bd4; /* Hover/Pressed CTA */
  --color-primary-alt: #2eade2;  /* Highlight/Secondary CTA */

  /* Accent Colors */
  --color-accent: #5fc0e9;       /* Secondary Button / Info */
  --color-accent-light: #94d7f2; /* Hover or Card Border */
  --color-accent-bright: #3ac4f2;

  /* Support Shades */
  --color-info: #1094d4;
  --color-link: #1b9cd4;

  --color-green:#55d914;
}
